# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Migrations - opcional: se quiser ignorar arquivos de migração compilados
*/migrations/*.pyc
*/migrations/__pycache__/

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Pytest cache
.pytest_cache/

# Pipenv
Pipfile.lock

# dotenv
.env

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# celerybeat schedule file
celerybeat-schedule

# Django secret key file (se existir)
secret_key.txt
