.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  user-select: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1000;
  flex-direction: column;
  top: 100%;   /* isso faz aparecer logo abaixo do botão */
  margin-top: 5px;  /* adiciona 5px de espaçamento para baixo */
}

.dropdown-content a {
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #666;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
